/* .footerBackground {
  padding: 30px 10px;
} */

.location {
  margin-top: 5px;
  border-radius: 10px;
  margin-bottom: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.footerText {
  background-color: red;
}
