.nav-link {
  color: red;
  transition: color 0.2s ease-in-out;
}

.redUnderline {
  display: inline-block;
  text-align: center;
  border-bottom: 2px solid #e21919;
  padding-bottom: 2px;
  margin: 0 auto;
}

.buttonColor {
  background-color: #e21919;
  color: white;
}

.alternateButtonColor {
  background-color: white;
  color: #e21919;
  border: 5px solid transparent; /* keeps size consistent */
  transition: all 0.3s ease; /* smooth animation */
}

.alternateButtonColor:hover {
  border-color: #e21919;
}

.imageWrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 16/9;
  /* height: 200px; */
  overflow: hidden;
}

.nav-link:hover {
  color: black;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}
